* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  /*The box-sizing property is used to tell the browser what the sizing properties (width and height) should include border-box.*/
  box-sizing: border-box;
  /*reset Chrome user agent styles*/
  -webkit-margin-before: 0px;
  -webkit-margin-after: 0px;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  -webkit-padding-before: 0px;
  -webkit-padding-after: 0px;
  -webkit-padding-start: 0px;
  -webkit-padding-end: 0px;
  /*reset Firefox user agent styles*/
  -moz-margin-before: 0px;
  -moz-margin-after: 0px;
  -moz-margin-start: 0px;
  -moz-margin-end: 0px;
  -moz-padding-before: 0px;
  -moz-padding-after: 0px;
  -moz-padding-start: 0px;
  -moz-padding-end: 0px;
  /*reset Internet Explorer user agent styles*/
  -ms-margin-before: 0px;
  -ms-margin-after: 0px;
  -ms-margin-start: 0px;
  -ms-margin-end: 0px;
  -ms-padding-before: 0px;
  -ms-padding-after: 0px;
  -ms-padding-start: 0px;
  -ms-padding-end: 0px;
  /*reset Opera user agent styles*/
  -o-margin-before: 0px;
  -o-margin-after: 0px;
  -o-margin-start: 0px;
  -o-margin-end: 0px;
  -o-padding-before: 0px;
  -o-padding-after: 0px;
  -o-padding-start: 0px;
  -o-padding-end: 0px;
}
/* -------------------------------------
General styles (General Module, wrapping around the modules below)
(the styles used everywhere in the page (like the Body) or styles which are used in more than 2 of the modules below (h2, h3, h4, h5, h6, p, a, ul, li))
*/

html {
    background: url(images/eli-francis.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100%;
  position: relative;
}

body {
  margin: 0%;
  height: 100%;
  min-height: 100%;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  position: relative;
}


a {
  font-size: 20px;
  text-decoration: none;
  color: black;
  padding: 5px;
}

a:hover {
  text-decoration: underline;
  color: red;
}

h1 {
  font-size: 30px;
}

h2 {
  font-size: 25px;
  width: 51%;
  margin-bottom: 20px;
  margin-left: 24%;
  border-bottom: 1px solid black;
  text-align: center;
}

h3 {
  font-size: 17px;
}

h4 {
  font-size: 15px;
}

form {
  background-color: floralwhite;
  width: 40%;
  max-width: 300px;
  margin: 2%;
  margin-top: 10%;
  margin-left: 65%;
  border: 1px solid black;
  padding: 20px;
}

label {
  display: block;
  width: 100%;
  margin: 10px 0;
}

input {
  /* display: block; */
  padding: 5px 10px;
  margin: 3px 0px;
  width: 100%;
  border-radius: 10px;
  border: 1px solid black;
  background: lightgray;
}

button {
  margin: 15px 0px;
  background-color: rgb(54, 54, 54);
  color: white;
  padding: 10px 12px;
  text-align: center;
  text-decoration: none;
  font-size: 15px;
  border: 1px solid #747070;
  border-radius: 10px;
  width: 100%;
}

button:hover {
  background-color: lightgrey;
  cursor: pointer;
  color: black;
}

.s-button {
  color: white;
}

.top {
  display: flex;
  justify-content: space-around;
}

.addmain {
  display: block;
}

/* -------------------------------------
Header styles (Main Module)
(all the styles inside the < header > or < nav > tags)
*/

header {
  display: flex;
  background-color: floralwhite;
  justify-content: space-between;
  width: 100%;
  padding: 11px;
  border-bottom: 1px solid lightgrey;
}


.link {
  display: flex;
  justify-content: space-between;
  width: 170px;
  list-style: none;
}
/* -------------------------------------
Content styles (Main Module)
(all the styles inside the < sections > or < aside > tags)
*/

main {
  display: flex;
  justify-content: space-between;
  height: 30em;
  height:100%;
  min-height: 100%;
}

.App{
  min-height: 96vh; /* will cover the 100% of viewport */
 overflow: hidden;
 display: block;
 position: relative;
 padding-bottom: 100px; /* height of your footer */
}
/* Dashboard main content  */

.d-main {
  justify-content: space-around;
}

/* forms  */

.deleteForm {
    margin: 0px;
    padding: 0px;
    border: none;
    height: 17px;
    width: 85px;
}


#bookSearch{
  background-color: lightgrey;
  width: 96%;
  margin: 2%;
  padding: 7%;
}

#bookSearch img {
  width: 75%;
  /* max-width: 300px;
  margin-bottom: 20px;
  margin-top: 20px;
  display: block; */
}

#bookList{
  width: 88%;
}

#bookShow img {
  width: 50%;
}

.bookinfo {
 width: 50%;
  background-color: red;
}

.bookTitle {
  /* width: 40px; 
  height: 65px; */
  /* width: 107px; */
  /* text-align: center; */
  /* margin-bottom: 0%; */
  /* margin: 1%; */
  /* overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap; */
}

.bookTitle:hover {
  /* overflow: visible; */
}



.singleBookInfo {
  align-items: center;
  justify-content: center;
  padding: 5%;
}

input[type="book"]{
  width: 100%;
  padding: 12px 20px;
  margin: 8px 7px;
  box-sizing: border-box;
  border: 1px solid black;
  border-radius: 4px;
}
.comment {
  width: 100%;
  padding: 0%;
  margin: 0%;
}

.commentContainer {
  background-color: azure;
  border-radius: 2px;
  margin-right: 20px;
}


input[type='comment'] {
  width: 100%;
  padding: 12px 0px;
  margin: 8px 0px;
  box-sizing: border-box;
  border: 1px solid blVack;
  border-radius: 4px;
}

.input-error{
  color: red;
}
/* book search form  */

#search {
  /* display: flex; */
  margin: 0%;
  padding: 9%;
  width: 100%;
  /* height: 50%; */
  border: none;
  /* pointer-events: none; */
  max-width: 100%;
}

#apiResults {
  margin: 18px 12px;
  width: 45%;
  max-width: 50%;
  background-color: white;
  /* right: 29px; */
  float: right;
  height: 100%;
  border-radius: 5px;

  overflow-x: scroll;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#apiResults::-webkit-scrollbar {
  display: none;
}

.apiResultsItem {
  width: 200px;
  display: inline-block;
  /* margin-left: 10px; */
  /* border-left: 1px solid red; */
  vertical-align: top;
  padding: 10px;
}

.deleteButton {
  border: 0px;
  padding: 0px;
  margin: 0px;
}


.bookDeleteBtn {
  width: 100px;
  margin-left: 18px;
  margin-top: 28px;
}

.bookDeleteBtn:hover {
  background-color: red;
}

.searchButton {
  width: auto;
  height: 42px;
  border: .5px solid;
  border-radius: 4px;
  padding: 5px;
  margin: 1%;
}

.searchButton:hover {
  cursor: pointer;  
}

.create_collection {
  width: 25%;
  margin-top: 10%;
  display: flex;
}

.createcollection {
  width: 100%;
  height: 238px;
  margin: 0%;
  background-color: floralwhite;
}


input.collection {
  /* width: 65%; */
}
/* log in form  */

.input-lgn {
  padding: 0%;
  margin: 0%;
  margin-top: 10%;
  display: flex;
  flex-direction: column;
  padding: 1%;
} 



.login {
  justify-content: center;
}

.info{
  background-color: floralwhite;
  width: 285px;
  margin: 2%;
  margin-left: 62%;
  margin-top: 11%;
  padding: 3%;
  border-radius: 5px;
}

/* container for list of the different collecitons */

 .c-list {
  background-color: floralwhite;
  text-align: center;
  padding: 2%;
  margin-top: 10%;
  border-radius: 2px;
  height: 100%;
  width: 500px;
  padding: 56px;
}

/* actual content list */




.list {
  display: flex;
  text-align: center;
  padding: inherit;
  margin: 0px;
  padding: 7px;
  border-bottom: 1px solid;
  justify-content: space-between;
}


.book-list {
  height: 100%;
  display: block;
  padding: 0px;
  background-color: floralwhite;
  width: 32%;
  text-align: center;
  padding: 2%;
  margin-top: 10%;
  flex-direction: column;
  justify-content: space-between;
  overflow-x: scroll;
  border-radius: 2px;
}

.bookListName {
  font-size: 20px;
  text-decoration: none;
  color: black;
  padding: 5px;
  width: 170px;
}

.book {
  margin: 0px 20px 20px 20px;
  border: 2px solid black;
  background-color: lavender;
  height: 400px;
  font-size: 20px;
  /* overflow: hidden; */
  width: 90%;
}

.bookForm {
  margin: 0px;
  background-color: transparent;
  border: none;
  padding: 0px;
}

.leftContainer {
  float: left;
  width: 52%;

}

.rightContainer {
  float: right;
  width: 39%;
  height: 100%;
  overflow: hidden;
  margin-right: 16px;
  font-size: 18px;
  margin-top: 16px;
}

.comment_list {
  list-style: none;
}

.summaryContainer {
  height: 159px;
  margin-top: 23px;
  /* overflow: scroll; */
  font-size: 13px;
}
/* -------------------------------------
Footer styles (Main Module)
(all the styles inside the < footer > tag)
*/

footer {
  background-color: floralwhite;
  text-align: center;
  width: 100%;
  padding: 14px;
  border-top: 1px solid lightgrey;
  height: 40px
}



.ft-txt {
  position: relative;
  bottom: 10px;
}

/* -------------------------------------
place all the desktop styles above this line
Responsive styles
(the very last module in the CSS, contains all the media queries and it is dealing with the compatibility with mobiles and tablets)
place all the mobile tables styles below this line
*/

